<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hx.empty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yuque"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/MDTheme">


        <!--启动页-->
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="true"
            android:theme="@style/MyStartTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--   主要工作区域     -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard|locale|layoutDirection"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />

    </application>

</manifest>